*.a
*.o
backups/*.tar.gz
dasd_shadows.tar.gz
log/hercules.log
log/mvslog.txt
prt/prt00e.txt
prt/prt00f.txt
reader/pch00d.txt
reader/pch01d.txt
shadows/mvs0001
shadows/mvsres1
shadows/page001
shadows/pub0001
shadows/pub0011
shadows/smp0001
shadows/sortw11
shadows/sortw21
shadows/sortw31
shadows/sortw41
shadows/sortw51
shadows/sortw61
shadows/spool11
shadows/syscpk1
shadows/work001
shadows/work011
spool/*.prt
dasd
http
